$gradient: linear-gradient(168.99deg,#00a4e5 17.86%,#006fc1 87.93%);
$black-grad: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
$shadow-inset: inset 0px 21px 48px -15px rgba(36, 34, 34, 0.75);
$primary: #fffcf2;
$secondary: #ffd60a;
$font-color: #fdfffc;